<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Burdoc | About</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
  </head>
  <body>
    <div id="app">
      <burdoc-header></burdoc-header>
      <div class="col-sm-2 col-xs-2"></div>
      <div class="main col-sm-8 col-xs-8">
        <div id="title">
          <h1>A<span class="small-title">BOUT</span></h1>
        </div>
        <div id="about">
          <div id="product">
            <h2>The Product</h2>
            <p>Burdoc is a modern markdown editor for the cloud, created with Node.js. It was created as a practice project by the author as he was learning Node.</p>
            <div id="tech-stack">
              <p class="left-align"><strong>Technologies Used:</strong></p>
              <ul>
                <li>Node.js</li>
                <li>Bootstrap</li>
                <li>Vue.js</li>
                <li>Font Awesome</li>
                <li>PostgreSQL</li>
                <li>Sequelize</li>
              </ul>
            </div>
          </div>
          <hr/>
          <div id="bio">
            <h2>The Author</h2>
            <img src="/images/caleb.jpg" alt="" id="author-image">
            <p>Caleb Kleveter is a poly-artisan and developer who loves iOS and Server Side Swift. He lives in the Kansas City, Kansas area where he spends his time programming, drinking good coffee, playing his violin, spending time with his family, and listening to Celtic and Bluegrass music.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-xs-2"></div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>var socket = io('https://burdoc-caleb-kleveter.c9users.io/');</script>
  <script src="/js/index.js"></script>
</html>
