<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Burdoc | Dashboard</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
  </head>
  <body>
    <div id="app">
      <burdoc-header></burdoc-header>
      <div class="col-sm-2 col-xs-2"></div>
      <div class="main col-sm-8 col-xs-8">
        <div id="title">
          <h1>D<span class="small-title">ashboard</span></h1>
        </div>
        <div id="document-manager" class="col-xs-12 col-sm-12">
            <ul class="editing">
              <li>
                <burdoc-new-doc-model></burdoc-new-doc-model>
              </li>
              <li>
                <button type="button" class="btn btn-default" aria-label="Left Align">
                  <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
              </li>
            </ul>
        </div>
        <div id="dashboard">
          <burdoc-documents></burdoc-documents>
          <burdoc-rename-doc-model></burdoc-rename-doc-model>
        </div>
      </div>
      <div class="col-sm-2 col-xs-2"></div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>var socket = io('https://localhost:8080/');</script>
  <script src="/js/index.js"></script>
</html>
