<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Burdoc</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
  </head>
  <body>
    <div id="app">
      <burdoc-header></burdoc-header>
      <div id="editor" class="col-xs-12 col-sm-12">
        <div id="edit-tab" class="col-md-6">
          <textarea name="document-editor" id="document-editor"></textarea>
        </div>
        <div id="preview-tab" class="col-md-6"></div>
      </div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>var socket = io('https://burdoc-caleb-kleveter.c9users.io/');</script>
  <script src="/js/index.js"></script>
</html>