<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Burdoc</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body id="app">
    <burdoc-header></burdoc-header>
    <div class="col-sm-2 col-xs-2"></div>
    <div class="main col-sm-8 col-xs-8">
      <div id="title">
        <h1>B<span class="small-title">URDOC</span></h1>
        <p>A Modern Markdown Editor in the Cloud</p>
      </div>
    </div>
    <div class="col-sm-2 col-xs-2"></div>
  </body>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</html>
