<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Burdoc | Login</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
  </head>
  <body>
    <div id="app">
      <burdoc-header></burdoc-header>
      <div class="col-sm-2 col-xs-2"></div>
      <div class="main col-sm-8 col-xs-8">
        <div id="title">
          <h1>L<span class="small-title">OGIN</span></h1>
        </div>
        <burdoc-form action="/login" method="POST" submittext="Login"></burdoc-form>
        <p id="sign-up">Don't have an account? <a href="#">Sign Up!</a></p>
      </div>
      <div class="col-sm-2 col-xs-2"></div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/index.js"></script>
</html>
