/*
  GLOBAL
*/

html {
  height: 100%;
}

body {
  height: 80%;
}

#app {
  height: 100%;
}

.small-title {
  font-size: 0.8em;
}

.error-message {
  color: #E52000;
}

.loading-indicator {
  text-align: center;
}

/*
  NAVIGATION
*/

.logo {
  margin: 0.6em 0;
  display: flex;
}

.logo-link .logo h1 {
  margin: 0;
  color: #9D9D9A;
}

.logo img {
  width: 3em;
  height: 3em;
}

.logo-link a:hover {
  text-decoration: none;
}

/*
  MAIN
*/

.main p {
  text-align: center;
}

.main .left-align {
  text-align: left;
}

.main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
  margin-bottom: 1em;
  text-align: center;
}

.main h2, .main h3, .main h4, .main h5, .main h6 {
  margin-top: 1em;
}

/*
  ABOUT
*/

#about #bio img {
  height: 10rem;
  width: 10rem;
  border-radius: 5rem;
  display: block;
  margin: 2rem auto;
}

/*
  DASHBOARD
*/

#document-manager {
  padding: 0.5em;
  margin: 1em 0;
  background-color: #9d9d9a;
  border-radius: 0.5em;
}

#document-manager .editing {
  float: right;
  list-style: none;
  margin-bottom: 0;
}

#document-manager .editing li {
  display: inline-flex;
}

#document-manager .editing button span {
  font-size: 1.5em;
}

.document {
  background-color: rgba(157, 157, 154, 0.65);
  border-radius: 1em;
  padding: 0;
  margin-bottom: 2em;
  cursor: pointer;
}

ul.dropdown-menu {
  top: 0%;
}

.document .document-menu {
  float: right;
  margin: 0.5em 0.5em 0;
  padding: 0 0.2em;
  border-radius: 0.2em;
}

.document .document-menu:hover {
  background-color: #9d9d9a;
}

.document .identifier {
  padding: 0.75em;
  font-size: 2em;
}

.document .identifier p {
  margin: 0;
}

.document .title p {
  margin: 0;
  padding: 0.75em;
  background-color: #9d9d9a;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

/*
  EDITOR
*/

#editor {
  height: 100%;
}

#editor #edit-tab {
  height: 100%;
}

#editor #document-editor {
  width: 100%;
  height: 100%;
  resize: none;
}

#editor #preview-tab {
  height: 100%;
  border: 0.75px rgb(169, 169, 169) solid;
  overflow-y: scroll;
}

#menu-bar {
  padding: 0.5em;
  margin: 1em 0;
  background-color: #9d9d9a;
  border-radius: 0.5em;
}

#menu-bar .left {
  list-style: none;
  margin-bottom: 0;
}

#menu-bar .left ul {
  padding-left: 0;
}

#menu-bar .right {
  float: right;
  list-style: none;
  margin-bottom: 0;
}

#menu-bar .menu-buttons {
  margin-bottom: 0;
}

#menu-bar .menu-buttons li {
  display: inline-flex;
}

#menu-bar .menu-buttons button span {
  font-size: 1.5em;
}

/*
  MEDIA QUERYS
*/

@media (min-width: 992px) {
  .logo-link .logo h1 {
    float: right;
  }

  .navigation .nav-links {
    float: right;
  }
}

@media (max-width: 991px) {
  .logo-link {
    float: left;
    display: flex;
    margin: auto;
  }

  .logo {
    margin: auto;
    min-width: 199.66px;
  }

  .logo-link a {
    margin: auto;
  }

  .navigation {
    display: flex;
  }

  .navigation ul {
    margin: auto;
  }
}

@media (max-width: 767px) {
  .logo {
    min-width: 0;
  }

  .logo h1 {
    display: none;
  }

  .logo img {
    float: right;
  }
}
